<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubRepo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>791EA6BD2CC4B86F008D1E79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>791EA6CD2CC4B870008D1E79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>791EA6D72CC4B870008D1E79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
